<div>
  <%= form_with model: Comment.new do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_field :content, placeholder: "Say you piece!" %><br>
    <%= f.submit %>
  <% end %>
</div>



