

<% friends.each do |friend|%>

    <div style = "display: flex;justify-content: space-around; " >
      <div>
        <!-- cound look profile -->
        <%= link_to "Profile", user_path(friend) %>
      </div>
      <div>
        <p><%= friend.fullname %></p>
        <!-- condition --> 
        <p><%= link_to "Remove", request_path(Request.find_by(friend_id: friend.id),friend_id: friend.id), method: :delete %> </p>
      </div>
    </div>

<% end %>

