<%= form_with model: user do |f| %>
  <div class="image-upload">
    <label class="image-upload is-size-5 is-flex is-justify-content-center is-align-items-center" for="file-input-1" style="display:inline-block; height:36px; width:36px; background-color:white; border-radius:50%;">
      <i class="fa fa-camera"></i>
    </label>
    <%= f.file_field :avatar, accept: 'image/jpg, image/jpeg, image/png', onchange: "form.submit()", id: 'file-input-1' %>
  </div>
<% end %>


