<%= form_with model: user do |f| %>
  <div class="image-upload">
    <label class="image-upload tag is-small is-large has-text-dark is-size-5" for="file-input-2" style="">
      <i class="fa fa-camera fa-xs"></i>
      <p class="is-size-7 pl-1 has-text-weight-bold has-text-black-bis">Add Cover Photo</p>
    </label>
    <%= f.file_field :cover_image, accept: 'image/jpg, image/jpeg, image/png', onchange: "form.submit()", id: 'file-input-2' %>
  </div>
<% end %>

