<% content_for(:title, "Profile") %>

<%= render partial: "user_bar", locals: { user: @user } %>  

<div class="is-flex is-justify-content-center">
  <div class="is-flex is-flex-direction-row is-justify-content-start mt-3">
    <div class="is-flex is-flex-direction-column has-text-weight-medium has-text-grey" style="width: 287px; border-right: 1px solid #CED0D4;">
      <a class="title is-4 mb-4">About</a>
      <p class="anchor-original my-2">Overview</p>
      <a class="my-2">Work and Education</a>
      <a class="my-2">Places Lived</a>
      <a class="my-2">Contact and Basic info</a>
      <a class="my-2">Family and Relationships</a>
      <a class="my-2">Details About You</a>
      <a class="my-2">Life Events</a>
    </div>

    <div class="is-flex is-flex-direction-column ml-5" style="width: 589px;">
      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add a workplace</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add a high school</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add a college</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add current city</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add hometown</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row my-3 facebook-icon-filter">
        <span>
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_twelfth"></i>
        </span>
        <div class="ml-3">
          <a>Add a relationship status</a>
        </div>
      </div>

      <div class="is-flex is-flex-direction-row is-justify-content-space-between">
        <div class="is-flex is-flex-direction-row">
          <div>
            <img class="pt-2" src="https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/qQIukOsO5zy.png" alt="" width="24" height="24">
          </div>
          <div class="ml-3">
            <p class="has-text-black-bis">000-0000-0000</p>
            <p class="is-size-7">Mobile</p>
          </div>
        </div>
        <div>
          <img style="cursor:pointer;" class="facebook-filter mr-4" src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/PW6J0VBS8kB.png" alt="Only me" width="16" height="16">
          <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_thirteenth" style="cursor:pointer;"></i>
        </div>
      </div>

    </div>
  </div>
</div>
