<h1>Users#show</h1>
<div style = "display: flex; justify-content: space-around;" >

  <p>Icon</p>
  <p>Coverphoto</p>
</div><br>

<div style = "display: flex; justify-content: center;" >
  <p><%= @user.fullname%></p>
</div>

<div style = "display: flex; justify-content: center;" >
  <p>Personal sign</p>
</div>

<div style = "display: flex; justify-content: space-around;" >
  <div>
    <p>Post</p> 
  </div>

  <div>
    <p>About</p> 
    <!-- has bio birthday fullname -->
  </div>

  <div>
    <p>Friend</p> 
    <!-- can delete friends -->
  </div>

  <div>
    <p>Edit Profile</p> 
  </div>
</div>

<br>


