<h1>Users#show</h1>
<p>Icon</p>
<p>Coverphoto</p>
<br>
<p>Sign</p>
<br>
<p>Post Friend    <span style="padding-left:68px;"></span>        Edit Profile</p>


<br>


<p><%= @user.firstname %> <%= @user.lastname %></p>
<p><%= @user.birthday %> </p>
<p><%= @user.gender %> </p>
<br>
<p>Bio</p>

