<div class="ml-4 mt-2" style="min-width:280px;max-width:360px;">
  <div class="is-flex is-flex-direction-row is-align-items-baseline">
    <figure class="image is-24x24">
      <%= image_tag avatar_for(current_user), class: 'is-rounded mt-2'%>
    </figure>
    <p class="ml-2 is-size-6"><%= current_user.fullname%></p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/kfSgA-GTBf9.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">COVID-19 Information Center</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/P3LEV6Y0FCf.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Find Friends</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/L2qlIhGe55v.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Groups</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/ob1CgXwDORG.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Watch</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/rvdJw9pk06Q.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Events</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/24MgFlPfCs5.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Memories</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/EygD86pCwoD.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Saved</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/TbOx5lWkw-N.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Pages</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/au-YJeO-FiV.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Jobs</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <img class="hu5pjgll bixrwtb6" src="https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/T1kBj3hDJS8.png" style="height:24px;width:24px;" alt="">
    <p class="ml-2 is-size-6">Messenger</p>
  </div>

  <div class="is-flex is-flex-direction-row is-align-items-center mt-3">
    <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_first"></i>
    <p class="ml-2 is-size-6">See More</p>
  </div>

  <div class="m-3 has-text-grey" style="text-decoration:none;">
    <footer class="pr-7">
      <a style="font-size:0.6rem" href="#">Privacy</a>
      <span> · </span>
      <a style="font-size:0.6rem" href="#">Terms</a>
      <span> · </span>
      <a style="font-size:0.6rem" href="#">Advertising </a>
      <span> · </span>
      <a style="font-size:0.6rem" href="#">Ad Choices</a>
      <i data-visualcompletion="css-img" class="sp_LzDGwd4CywS_second"></i>
      <a style="font-size:0.6rem" href="#">Cookies </a>
      <span> · </span>
      <a style="font-size:0.6rem" href="#">More</a>
      <span> · </span>
      <span style="font-size:0.6rem" href="#">Facebook © 2021</span>
    </footer>
  </div>
</div>

