<% content_for(:title, "Edit") %>
<div>
  <%= form_with model: @post do |f| %>
    <%= f.text_area :body, placeholder: "Write something!", size: "70x5" %>
    <div>
      <%= f.file_field :images, multiple: true, accept: 'image/jpg, image/jpeg, image/png'  %>
      <%= f.submit %>
    </div>
  <% end %>
</div>


