<% content_for(:title, "Posts") %>

<div style = "display: flex; justify-content: space-around;" >


  <div>
    <p>11111111</p>
  </div>

  <div>
    <%= render partial: "new_post" %><br>
    <h1>Post#index</h1>
    <%= render partial: "all_posts", locals: { posts: @post } %>    
  </div>
</div>






