<% content_for(:title, "Posts") %>
<div class="is-flex is-justify-content-space-between">
  <div>
    <%= render partial: "event" %><br>
  </div>
  <div>
    <%= render partial: "new_post" %><br>
    <h1>Post#index</h1>
    <%= render partial: "all_posts", locals: { posts: @post } %>    
  </div>
</div>






