<h1>Post#index</h1>

<%= render partial: "new_post" %><br>

<% if @post.any?  %>
  <%= render partial: "index_post", locals: { post: @post } %>    
<% else %>
  <p>This is a lonely universe</p>
<% end %>




