@import "font-awesome";

// Bulma Customization
$spacing-values: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.5rem,
  "6": 3rem,
  "7": 4rem,
  "8": 5rem,
  "9": 6rem,
  "10": 7rem,
);

$input-placeholder-color: #90949c;

// Bulma Framework
@import "bulma";

// General rules
.a[display^="inline-block"]{
  width: 100%;
}

.facebook-box-variation {
  border-radius: 10px; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), 8px 8px 16px rgba(0, 0, 0, .1),-2px 2px 4px rgba(0, 0, 0, .1), -8px 8px 16px rgba(0, 0, 0, .1);
}
//  Old dropdown button css
// .dropbtn {
//   color:black;
//   font-size: 20px;
//   border: none;
// }

// .dropdown {
//   position: relative;
//   display: flex;
//   justify-content: right;
//   padding-right: 15px;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
// }

// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropdown:hover .dropdown-content {display: block;}
 
// Remove pesky field_with_error wrapper
// .field_with_errors { display: inline; }

// Hover effect
.hovering {
  border:none;
}

.hovering:hover {
  border-radius: 50%;
  background-color: #d3d3d3;
  cursor: pointer;
}

// Anchor color
a { color: inherit; } 

// Facebook icon
.sp_LzDGwd4CywS_first {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/vECmhfJIHRp.png);
  background-size: 33px 895px;
  background-repeat: no-repeat;
  background-position: 0 -284px;
  display: inline-block;
  height: 20px;
  width: 20px;  
}

.sp_LzDGwd4CywS_second {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/vECmhfJIHRp.png);
  background-size: 33px 895px;
  background-repeat: no-repeat;
  background-position: -17px -751px;
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: -0.25em;
}

.sp_LzDGwd4CywS_third {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/vECmhfJIHRp.png);
  background-size: 33px 895px;
  background-repeat: no-repeat;
  background-position: 0 -578px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.sp_LzDGwd4CywS_fourth {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/G1bBKKO-Gik.png);
  background-size: 501px 244px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -25px -219px;
  height: 24px;
  width: 24px;
}

.sp_LzDGwd4CywS_fifth {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/vECmhfJIHRp.png);
  background-size: 33px 895px;
  background-repeat: no-repeat;
  background-position: 0 -473px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

// Responsive css
@media (max-width: 850px) {
  .responsive-disappear {
    display: none;
  }

  .responsive-display {
    margin: auto;
  }

}

// Rails file_field customization
.image-upload > input
{
  display: none;
}
.image-upload > label{
  cursor:pointer;
}

// Input focus effect
input:focus{
  outline: none;
}

// Notification floating
.notif-container {
  position: relative;
}

.notif-floating {
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 99;
}