@import "font-awesome";

// Bulma Customization
$spacing-values: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.5rem,
  "6": 3rem,
  "7": 4rem,
  "8": 5rem,
  "9": 6rem,
  "10": 7rem,
);

$input-placeholder-color: #90949c;

// Bulma Framework
@import "bulma";

// General rules
.a[display^="inline-block"]{
  width: 100%;
}
//  dropdown button
.dropbtn {
  color:black;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: right;
  padding-right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
 
// Remove pesky field_with_error wrapper
// .field_with_errors { display: inline; }